<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xercesblue.onlinebankexampo"
    android:versionCode="8"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission
        android:name="com.xercesblue.onlinebankexampo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.xercesblue.onlinebankexampo.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".Activity_Splash"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Home"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_SelectLanguage"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Select_Exam_Category"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Tutorial"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Results_List"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Instructions"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_QuestionView"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_PopUp_SelectExamCategory"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Activity_PopUp_QuestionsList"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Activity_Results_Exam"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Results_Exam_Questions_List"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Results_Exam_Questions_Detail"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_AboutApp"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_ConfigureExam"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_ContactUs"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_DownloadMore"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_Language_Category"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Favourites"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Favourite_Question_Detail"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_ExamAlert"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_ExamAlertDetail"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_Upgrade"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Current_GK_Read"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_ShareUs"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Current_GK_Type_Select"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".Activity_Current_GK_Test"
           android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity_Settings_Registration"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.xercesblue.onlinebankexampo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.inmobi.commons.internal.ActivityRecognitionManager"
            android:enabled="true" />

        <receiver
            android:name="com.inmobi.commons.analytics.androidsdk.IMAdTrackerReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|smallestScreenSize|screenSize" />
        <activity
            android:name="com.gomob.di.qa.analytics.activity.PublisherAPI"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mobi.vserv.android.ads.VservAdManager"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:launchMode="singleTop"
            android:multiprocess="true"
            android:process=":vserv"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="mobi.vserv.org.ormma.view.Browser"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="mobi.vserv.org.ormma.view.OrmmaActionHandler"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.android.publish.AppWallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        
    </application>

</manifest>